<div style="min-height: 80vh;" class="background-spot flex justify-center px-10 pt-10" >
    <div class="max-w-screen-lg w-full " >
        <div class="text-5xl font-extralight flex flex-col gap-4 " >
            <span>Hi,</span>
            <span>I'm Reymer.</span>
        </div>
        <div class="grid grid-cols-5 gap-8 py-10 text-base leading-7"  >
            <div class="col-span-1 font-bold "  >
                <span>
                    As a systems engineer, I bring solid expertise in web development, with a strong focus on backend architecture                </span>
            </div>
            <div class="col-span-4 font-extralight text-justify" >
                <span>As a System Engineer specialized in software development, I provide efficient and scalable backend solutions, leveraging clean code practices and industry standards. My main expertise lies in Java programming, and I excel at maintaining clear and consistent communication within cross-functional teams and I'm always eager to learn new technologies and improve my skills.</span>
            </div>
        </div>
        <div>
            <div>
                <h3 class="text-3xl font-extralight" >About me</h3>
                <div class="leading-6 text-sm">
                    <p>Throughout my university life, I touched programming at the beginning of my career, I was impressed and I liked what you can do with a line of code as a calculator in the commands, starting from python then moving to other programming languages such as java, php in which I began to learn about the web in php and so little by little I got into the world of programming.</p>
                    <p>My technical experience was strengthened when for the first time in the middle of my university I worked with a small team in which I helped in the front-end (Angular) and touched a little bit of back-end (Java). In which we discussed solutions to customer requirements and how it would affect the customer, and test how user friendly it was.<p>
                    <p>Although I strengthened my technical skills through college, it wasn't until I realized that I was missing a lot after I left college where more consideration was given to team communication, microservices, roles and tasks to get the job done on time.</p>
                    <p>Concluding these last years I am specializing more on the backend server side making a clean and optimized code including testing services.</p>
                </div>
            </div>
            <div   >
                <h3 class="text-xl font-semibold " >Skill</h3>
                <ul class="grid grid-cols-1 gap-2 text-sm  " >
                    <li>Team Work</li>
                    <li>Diligence and commitment</li>
                    <li>Professional ethics</li>
                    <li>Results-oriented</li>
                    <li>Analytical thinking</li>
                    <li>Responsability</li>
                </ul>
            </div>
        </div>
    </div>
</div>