/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  @include mat.dialog-overrides((
    container-color: transparent,
    container-shape: none
  ));
}

html, body { height: 100%; }
body { margin: 0; padding: 0;  font-family: 'Inter', sans-serif !important; }
.text-family {
    font-family: 'Inter', sans-serif !important;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

@keyframes animation-show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
//end dialog style
.animation-show {
animation: animation-show 0.3s ease-out forwards;
}
