<div style="min-height: 80vh;" class="flex items-center justify-center max-sm:flex-col">
    <div class="flex-1" >
        <div class=" max-w-screen-md w-full h-full flex flex-col items-center justify-center ">
            <h3 class="text-xl font-extralight text-center text-secondary">My technical skills </h3>
            <div class=" grid gap-x-4 gap-y-6 justify-center items-center w-full pt-10 min-h-80 grid-cols-6 max-sm:grid-cols-4 max-sm:gap-y-2">
                @for (item of technologies(); track $index) {
                <div class="flex justify-center items-center p-2 rounded-lg mx-2  "
                    [ngClass]="view() === item.name ? item.bgColor : ''">
                    <div (click)="view.set(item.name)"
                        class="shadow-md bg-white rounded-md inline-block p-2 cursor-pointer hover:scale-105 hover:shadow-xl transition-all duration-300 ease-in-out">
                        <img class="w-12 h-12 md:w-14 md:h-14" [src]="item.url" [alt]="item.name">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="flex-1 flex justify-center mx-2 max-sm:flex-none " >
        @for (technology of technologies(); track $index) {
            <div class="pb-2 rounded-xl max-w-screen-md animation-show  w-full shadow-lg" 
                [ngClass]="[technology.bgColor ]"  [class.hidden]="view() !== technology.name">
                <div class="flex items-center px-4 pt-2 pb-2   gap-2 ">
                    <img [src]="technology.url" width="30px" height="30px" alt="">
                    <span [class]="technology.textColor" >{{technology.name}}</span>
                </div>  
                <div class="bg-white mx-2 px-4 overflow-hidden text-secondary leading-7 rounded-xl  ">
                    <p>{{technology.intro}}</p>
                    @if (technology.items.length > 0) {
                        <ul>
                            @for (item of technology.items; track $index) {
                                <li>{{item}}</li>
                            }
                        </ul>
                    }
                </div>
            </div>
        }
    </div>
</div>
  